#arts-photos {
	text-align: center;
}


.text-arts-page {
	color: grey;
	text-align: center;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 40px;
}

figure {
	text-align: center;
	display: inline-block;
}

.photo {
	display: inline-block;
	margin-right: 40px;
	margin-left: 50px;
	margin-bottom: 10px;
	margin-top: 60px;
	align-content: center;
	border-radius: 15px;		
}

.pictures {
	display: inline-block;
	margin-left: 38px;
	text-decoration: none;
	color:black;
}

.pictures:hover{
	text-shadow: 1px 0 0 currentColor;
	text-decoration: none;
	color:black;
}

.logo-and-shipping {
	text-align: center;
}

#top {
	text-align: center;
	background-color: black;
}

.free-shipping {
	background-color: red;
	color: black;
	padding: 7px;
	width: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
	padding-top: 50px;
    
}



.list {
	display: inline-block;
	padding-right:40px;
}


.menu-line {
	display: inline-block;
	padding: 0px;
	margin-right: 15px;
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
	background-color: black;
	color: white;
	padding: 7px;
	width: 100%;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

.solif {
	background-color: white;
	color: black;
	width: 100%;
	text-align: center;
	height: 100px;
}

#map{
	float:right;
}

.form-horizontal{
	float:left;
	width: 50%;
	height: 450px;                         
	padding-left:100px;
	padding-top:30px;
}

.about-title{
	text-align:center;
	margin:30px;
}

.about{
	margin-left:100px;
	margin-right:100px;
}

.poem{
	margin-left:150px;
	margin-bottom: 100px;
}

.account-icon{
	text-align: right;
	padding-right:95px;
	padding-bottom:35px;
}

.link-free-shipping{
	text-decoration: black;
	color:black; 
}


.link-free-shipping:hover{
	text-decoration:all;
	color:black; 
}

.free-shipping:hover{
	background-color:white;
}


.menu-link{
	color:white;
}

.menu-link:hover{
	text-shadow: 1px 0 0 currentColor;
	text-decoration: none;
}

.dropdown-menu{
	background-color:black;
}

.nav-link:hover{
	color:white;
}

.clothes-link{
	color:black;
	text-decoration: none;
}

.clothes-link:hover{
	text-decoration: none;
	color:black;
}

.description-product{
	float:left;
}

.product-buy-btn{
	float:right;
}

.card-deck{
	height:20%;
}

.aleatorio{
    text-align:center;
}

.link-do-btn{
    text-decoration: none;
    color:white;
}

.link-do-btn:hover{
    text-decoration: none;
    color:white;
}


